{% extends 'base.html' %}

{% block content %}


<div class="mt-5">
    <br>
</div>
<div class="card mb-3 mt-5 mb-5 border-0">
    <div class="row g-0 mb-5">
        <div class="col-md-4">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100%; height: auto;">
        </div>
        <div class="container col-md-8 ">
            <div class="card-body">
                <h1 class="card-title text-center">{{ producto.nombre }}</h1>
                <p class="card-text text-center"><small class="text-body-secondary">Categoria: {{ producto.categoria }}</small></p>
                <hr class="my-4">
                <br>
                
                <p class="card-text">{{ producto.descripcion }}</p>
                <div class="row mt-5">
                    <h2 class="card-text  col-6">${{ producto.precio }}</h2>
                    <button type="button" class="btn btn-outline-primary col-6">Agregar Al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}