{% extends 'base.html' %}

{% block content %}

<br>
<h1 class="mt-5">Productos</h1>
<a href="{% url "shop:formulario" %}">Nuevo Producto</a>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Creacion</th>
            
        </tr>
    </thead>

    <tbody>
        {% for producto in productos %}
        <tr>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100px; height: auto;"></td>
            <td><a href="{% url 'shop:detalle' producto.id %}">{{ producto.nombre }}</a></td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.creado_en }}</td>
            
            
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}