{% extends 'base.html' %}

{% block content %}

<br>
<div class="mt-5">
    <h1 class="mt-5">Editar Producto</h1>
</div>


<div class="row">
    <div class="col-12 col-md-6 offset-md-3 mb-5">
        <div class="card">
            <div class="card-body">
                <form action="" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center mt-5 mb-5">
                        <a href="{% url 'shop:index' %}" class="btn btn-outline-primary">Cancelar</a>
                        <input class="btn btn-outline-primary" type="submit" value="Editar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}